<h1>Book List:</h1>

{{#each booksArr}}
    <div class="book-summary">
        <p>
            Title: {{this.title}}
        </p>
        <p>
            Author: {{this.author.name}} {{this.author.surname}}
        </p>

        <a href="/books/{{this._id}}">More details</a>


        <form action="/books/{{this._id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </div>
{{/each}}

